<header class="site-header">

  <div class="site-header__top-bar">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex align-items-center justify-content-end">
          <nav>
                          <div class="menu-top-container">
						  <ul id="menu-top" class="nav-menu nav-menu--white">
						  <li id="menu-item-161" class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-161">
						  
						  </li>
						  </ul></div>
                      </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="site-header__main-bar">
    <div class="container">
      <div class="row">
        <div class="col-6 col-md-2">
                      <a class="site-logo" href="/" style="margin-top: 0px"><img src="/images/valuez-logo.png" /></a>
                  </div>

        <div class="col-md-8 d-none d-md-flex align-items-center justify-content-end">
          <nav class="d-flex align-items-stretch">
                          <div class="menu-hoofdmenu-container"><ul id="menu-hoofdmenu" class="nav-menu nav-menu--black">
						  <li id="menu-item-158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-106 current_page_item  active nav-item nav-item-158">
						  <a title="Home" href="/" class="nav-link">Home</a>
						  </li>
						  <li id="menu-item-159" class="menu-item menu-item-type-post_type_archive menu-item-object-vacature nav-item nav-item-159">
						  <a title="Vacatures" href="/vacature/" class="nav-link">Vacatures</a>
						  </li>
						  <li id="menu-item-1654" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children nav-item nav-item-1654  dropdown">
						  <a title="Branches" href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true">Branches</a>
							<div role="menu" class=" dropdown-menu">
							<a title="Healthcare &#038; Pharma" href="/sectoren/healthcare-pharma-2/" class="menu-item menu-item-type-post_type menu-item-object-page dropdown-item" id="menu-item-1778">Healthcare &#038; Pharma</a>
							<a title="Construction &#038; Engineering" href="/sectoren/engineering/" class="menu-item menu-item-type-post_type menu-item-object-page dropdown-item" id="menu-item-1656">Construction &#038; Engineering</a>
							<a title="FMCG &#038; Lifestyle" href="/sectoren/fmcg-lifestyle/" class="menu-item menu-item-type-post_type menu-item-object-page dropdown-item" id="menu-item-1779">FMCG &#038; Lifestyle</a></div>
							</li>
							<li id="menu-item-1756" class="menu-item menu-item-type-custom menu-item-object-custom nav-item nav-item-1756">
							<a title="Coaching" target="_blank" href="https://valuezcoaching.nl/" class="nav-link">Coaching</a>
							</li>
							<li id="menu-item-1655" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-1655">
							<a title="Over ons" href="/over-ons/" class="nav-link">Over ons</a>
							</li>
							<li id="menu-item-1652" class="menu-item menu-item-type-post_type menu-item-object-page nav-item nav-item-1652">
							<a title="Contact" href="/contact/" class="nav-link">Contact</a>
							</li>
							</ul>
							</div>
							</nav>
							</div>

							<div class="col-6 col-md-2 d-md-flex align-items-end align-items-md-center text-right text-sm-left">
							<a class="icon js-toggle-search-header text-center" href="#">Zoek vacature</a>
							<div class="burger-container d-md-none">
								<div id="burger">
								<div class="bar topBar"></div>
								<div class="bar btmBar"></div>
								</div>
							</div>
        </div>

        <ul class="menu d-md-none mobile-menu">
                      <div class="menu-hoofdmenu-container">
					  <ul id="menu-hoofdmenu-1" class="nav">
					  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-106 current_page_item menu-item-158">
					  <a href="/" aria-current="page">Home</a>
					  </li>
					  <li class="menu-item menu-item-type-post_type_archive menu-item-object-vacature menu-item-159">
					  <a href="/vacature/">Vacatures</a>
					  </li>
					  <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-1654">
					  <a href="/sectoren/">Branches</a>
						<ul class="sub-menu">
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1778">
							<a href="/sectoren/healthcare-pharma-2/">Healthcare &#038; Pharma</a>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1656">
							<a href="/sectoren/engineering/">Construction &#038; Engineering</a>
							</li>
							<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1779">
							<a href="/sectoren/fmcg-lifestyle/">FMCG &#038; Lifestyle</a>
							</li>
						</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1756"><a target="_blank" rel="noopener" href="https://valuezcoaching.nl/">Coaching</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1655"><a href="
/over-ons/">Over ons</a>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1652">
<a href="/contact/">Contact</a>
</li>
</ul></div>
                  </ul>
      </div>
    </div>
  </div>
</header>
<div class="search-header">
    <div class="container">
	    
	<form action="/vacature/" method="get" enctype="application/x-www-form-urlencoded" id="search_vacatures">
		<div class="row">
			<div class="col-6 col-sm-2 col text-left">
				<label for="searchterm">Zoekterm</label>
				<input type="text" name="searchterm" class="form-control"
					   value="" />
			</div>
			<div class="col-6 col-sm-2 text-left">
				<label for="search_category">Branche</label>
				<select name="search_category" class="form-control">
					<option value="">Selecteer...</option>
												<option  value="Overig">Overig</option>
																		<option  value="Construction&Engineering">Construction&Engineering</option>
																		<option  value="Healthcare&Pharma">Healthcare&Pharma</option>
																		<option  value="FMCG&Lifestyle">FMCG&Lifestyle</option>
															</select>
			</div>
			<div class="col-6 col-sm-2 text-left">
				<label for="education_levels">Opleidingsniveau</label>
				<select name="education_levels" class="form-control">
					<option value="">Selecteer...</option>
												<option  value="HBO">HBO</option>
																		<option  value="MBO">MBO</option>
															</select>
			</div>
			<div class="col-6 col-sm-2 text-left">
				<label for="city">Plaats</label>
				<input type="text" class="form-control" name="city" id="sCity"
					   value="" />
			</div>
			<div class="col-6 col-sm-2 text-left">
				<label for="distance">Afstand</label>
				<select name="distance" class="form-control">
					<option value="">Afstand...</option>
												<option  value="k-5000">5 km</option>
																		<option  value="k-10000">10 km</option>
																		<option  value="k-25000">25 km</option>
																		<option  value="k-50000">50 km</option>
																		<option  value="k-100000">100 km</option>
																		<option  value="t-600">max 10 min</option>
																		<option  value="t-1800">max 30 min</option>
																		<option  value="t-3600">max 1 uur</option>
																		<option  value="t-7200">max 2 uur</option>
															</select>
			</div>
			<div class="col-6 col-sm-2 text-left d-flex align-items-end">
				<input onclick="ga('send', 'event', 'Vacatures zoeken', 'click');" type="submit" value="Zoek vacatures" class="c-btn">
			</div>
		</div>
	</form>
	<div class="row">
					<div class="col-12 search-vacancies__populair-terms d-none d-md-block">
				<span>Populaire zoektermen:</span>
									<a href="/vacature/?searchterm=Engineer&search_category=&education_levels=&city=&distance=">Engineer</a>
							</div>
				<div class="col-12 search-vacancies__job-alert-cta d-none d-md-block text-left">
							<a class="link-job-alert" href="/vacature/?JobAlert=1"><i class="fas fa-chevron-right"></i>Maak een Job Alert aan</a>
					</div>
	</div>
		    </div>
    <a class="search-header__close js-toggle-search-header" href="#">
        <svg width="92px" height="32px" viewBox="0 0 92 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Element-/-Search-Bar" transform="translate(-674.000000, -204.000000)">
                    <g id="Group-5">
                        <g id="Group-4" transform="translate(0.000000, 195.000000)">
                            <g id="Icons-/-UI-/-Social-/-Box-/-Default" transform="translate(673.000000, 9.000000)">
                                <path class="searchHeaderClose" d="M93,0.916666667 C82.3173837,0.916666667 73.0101601,7.4661553 65.0783291,20.5651326 C61.8697202,27.3255189 54.9807519,32 47,32 C39.3234875,32 32.657104,27.6751234 29.3045254,21.3290462 C21.4816511,7.72079211 12.1301432,0.916666667 1.25,0.916666667 C-9.75,0.916666667 104,0.916666667 93,0.916666667 Z" id="Path" fill="#96F12E"></path>
                                <g id="Icons-/-UI-/-Social-/-Close-/-White" transform="translate(41.000000, 6.000000)" fill="#FFFFFF">
                                    <path d="M0.292418773,0.292418773 C0.682310469,-0.0974729242 1.33212996,-0.0974729242 1.72202166,0.292418773 L5.96750903,4.53790614 L10.2563177,0.292418773 C10.6462094,-0.0974729242 11.2960289,-0.0974729242 11.6859206,0.292418773 C12.0758123,0.682310469 12.0758123,1.33212996 11.6859206,1.72202166 L7.39711191,5.96750903 L11.6859206,10.2563177 C12.0758123,10.6462094 12.0758123,11.2960289 11.6859206,11.6859206 C11.2960289,12.0758123 10.6462094,12.0758123 10.2563177,11.6859206 L5.96750903,7.39711191 L1.72202166,11.6859206 C1.33212996,12.0758123 0.682310469,12.0758123 0.292418773,11.6859206 C-0.0974729242,11.2960289 -0.0974729242,10.6462094 0.292418773,10.2563177 L4.53790614,5.96750903 L0.292418773,1.72202166 C-0.0974729242,1.33212996 -0.0974729242,0.682310469 0.292418773,0.292418773 Z" id="Path"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </a>
</div>