 <!-- start header -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-transparent border-bottom border-color-white-transparent header-light fixed-top navbar-boxed header-reverse-scroll">
                <div class="container-fluid nav-header-container">
                    <!-- start logo -->
                    <div class="col-auto col-sm-6 col-lg-2 me-auto ps-lg-0">
                        <a class="navbar-brand" href="index.html">
                            <img src="images/logo-white2x.png" alt="" class="default-logo">
                            <img src="images/logo-black2x.png" alt="" class="alt-logo">
                            <img src="images/logo-black2x.png" alt="" class="mobile-logo">
                        </a>
                    </div>
                    <div class="col-auto col-lg-8 menu-order px-lg-0">
                        <button class="navbar-toggler float-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-label="Toggle navigation">
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                            <span class="navbar-toggler-line"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                            <ul class="navbar-nav alt-font">
                                <li class="nav-item dropdown megamenu">
                                    <a href="#" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item dropdown megamenu">
                                    <a href="#" class="nav-link">About us</a>
                                </li>
                                <li class="nav-item dropdown megamenu">
                                    <a href="#" class="nav-link">Contact us</a>
                                </li>
                                <li class="nav-item dropdown megamenu">
                                    <a href="#" class="nav-link">Book now</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto col-lg-2 text-end pe-0">
                        <span class="nav-bar-contact text-medium alt-font font-weight-500 d-none d-sm-block">
                            <i class="feather icon-feather-phone-call margin-10px-right"></i>
                            0222 8899900
                        </span>
                    </div>
                </div>
            </nav>
        </header>
        <!-- end header -->